<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<title>天天生鲜-溯源查询</title>
	<link rel="stylesheet" type="text/css" href="index/css/reset.css">
	<link rel="stylesheet" type="text/css" href="index/css/main.css">
</head>
<body>
	<div class="login_top clearfix">
		<a href="http://localhost:12000/index.html" class="login_logo"><img src="index/img/logo02.png"></a>
	</div>

	<div class="login_form_bg">
		<div class="login_form_wrap clearfix">
			<div class="login_banner fl"></div>
			<div class="slogan fl">来源可溯 · 去向可查</div>
			<div class="login_form1 fr">
				<div class="login_title clearfix">
					<h1 >溯源查询</h1>
				</div>
				<div class="form_input">
					<form action="http://localhost:12000/traceResult.html">
						<div><p style="font-size:14px">请输入生鲜商品溯源码：</p></div>
						</br>
						<input type="text" name="username" class="name_input1" placeholder="溯源码">
						<input type="button" name="" value="查询" class="input_submit1" onclick='location.href=("http://localhost:12000/traceResult.html")'>
					</form>
				</div>
			</div>
		</div>
	</div>
	</br>
	</br>
	</br>
	</br>
	</br>
	</br>
	</br>

	<div class="footer no-mp">
		<div class="foot_link">
			<a href="#">关于我们</a>
			<span>|</span>
			<a href="#">联系我们</a>
			<span>|</span>
			<a href="#">招聘人才</a>
			<span>|</span>
			<a href="#">友情链接</a>		
		</div>
		<p>CopyRight © 2021 江苏天天生鲜信息技术有限公司 All Rights Reserved</p>
		<p>电话：010-****888    苏ICP备*******8号</p>
	</div>
	
</body>
</html>