<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<title>天天生鲜-提交订单</title>
	<link rel="stylesheet" type="text/css" href="cart/css/reset.css">
	<link rel="stylesheet" type="text/css" href="cart/css/main.css">
</head>
<body>
	<div class="header_con">
		<div class="header">
			<div class="welcome fl">欢迎来到天天生鲜!</div>
			<div class="fr">
				<div class="login_info fl">
					欢迎您：<em>张 山</em>
				</div>
				<div class="login_btn fl">
					<a >欢迎您：张三</a>
					<span>|</span>
					<a >退出</a>
				</div>
				<div class="user_link fl">
					<span>|</span>
					<a href="http://localhost:9000/orderList.html">用户中心</a>
					<span>|</span>
					<a href="http://localhost:30000/cart">我的购物车</a>
					<span>|</span>
					<a href="http://localhost:9000/orderList.html">我的订单</a>
				</div>
			</div>
		</div>		
	</div>

	<div class="search_bar clearfix">
		<a href="http://localhost:12000/index.html" class="logo fl"><img src="cart/img/logo.png"></a>
		<div class="sub_page_name fl">|&nbsp;&nbsp;&nbsp;&nbsp;提交订单</div>
		<div class="search_con fr">
			<input type="text" class="input_text fl" name="" placeholder="搜索商品">
			<input type="button" class="input_btn fr" name="" value="搜索">
		</div>		
	</div>
	
	<h3 class="common_title" style="color:#37ab40;font-size:18px">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;商品已成功加入购物车</h3>

	<div class="common_list_con clearfix">
		<ul class="goods_list_td clearfix">		
			<li class="col02"><img src="cart/img/goods/goods003.jpg"></li>
			<li class="col03">大兴大棚草莓&nbsp;&nbsp;&nbsp;&nbsp;500g</li>
		</ul>
		<a href="http://localhost:12000/item.html" class="edit_site1">查看商品详情</a>
		<a href="http://localhost:30000/cart" class="edit_site">去购物车结算</a>

	</div>
 <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>	

	<div class="footer">
		<div class="foot_link">
			<a href="#">关于我们</a>
			<span>|</span>
			<a href="#">联系我们</a>
			<span>|</span>
			<a href="#">招聘人才</a>
			<span>|</span>
			<a href="#">友情链接</a>		
		</div>
		<p>CopyRight © 2021 江苏天天生鲜信息技术有限公司 All Rights Reserved</p>
		<p>电话：010-****888    苏ICP备*******8号</p>
	</div>

	
	<script type="text/javascript" src="cart/js/jquery-1.12.2.js"></script>
	
</body>
</html>